.Nuvem {
  max-width: 110%;
}

.form-control {
  background-color: #292c2d;
  stroke: none;
  max-width: 900px;
  height: 80px;
}

.corPesquisa {
  background-color: #292c2d !important;
}

.outLine {
  outline: none;
  color: #a1a1a1;
  
}

body {
  background-color: #2e3234;
}

:root {
  --bs-body-bg: rgb(231, 225, 225);
}


[data-bs-theme="dark"] {
  --bs-body-bg: rgb(51, 51, 51);
}:root {
  --bs-body-bg: rgb(204, 165, 248);
}


[data-bs-theme="dark"] {
  --bs-body-bg: rgb(102, 75, 133);
}