.Nuvem {
  max-width: 110%;
}

.form-control {
  background-color: #292c2d;
  stroke: none;
  max-width: 900px;
  height: 80px;
}

.corPesquisa {
  background-color: #292c2d !important;
}

.outLine {
  outline: none;
  color: #a1a1a1;
  
}



:root {
  --bs-body-bg: rgb(231, 225, 225) !important;
}


[data-bs-theme="dark"] {
  --bs-body-bg: rgb(51, 51, 51) !important;
}:root {
  --bs-body-bg: rgb(204, 165, 248) !important;
}


[data-bs-theme="dark"] {
  --bs-body-bg: rgb(102, 75, 133) !important ;
}